* {
    box-sizing: border-box;
  }

  .container {
    max-width:100%;
    height: auto;
    width: auto;
    margin: auto; 
  }

  body {
    padding: 4em; 
  }

  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 20px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    padding:70px;
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    padding:70px;
    background: gold;
  }
  
  .aside-2 {
    padding: 70px;
    background: hotpink;
  }

  @media all and (max-width: 992px) {
    .container {
      width: 100%;
    }
  }
  
  @media all and (min-width: 768px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 992px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  